body {
    background-color: #00FF66;
    color: #004D00;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #00D084;
    color: #004D00;
    font-family: "Barlow", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
